<header>
<div class="container">
<a class="logo" href="{{ url('homepage') }}"><img src="{{ asset('assets/img/logo.png') }}"><span>紋別市<br class="sp">ふるさと納税<br class="sp">総合サイト</span></a>
<nav>
<ul>
<li><a href="http://13.115.133.43/city_mombetsu"><img src="{{ asset('assets/img/icon_about.png') }}"><p>紋別市の紹介</p></a></li>
<li><a id="popupbtns" tabindex="-1"><img src="{{ asset('assets/img/icon_find.png') }}"><p>見つける</p></a></li>
{% set totalQuantity = get_carts_total_quantity() %}
<li class="ec-headerRole__cart ">{{ include('Block/cart.twig') }}</li>
{#<li><a href="{{ url('cart') }}"><img src="{{ asset('assets/img/icon_cart.png') }}"><p>カート<span class="cart_number">{{ totalQuantity|number_format }}</span></p></a></li>#}
<li class="burger-btn"><a><div><span></span><span></span><span></span></div><p>メニュー</p></a></li>
</ul>
</nav>
</div>

<div class="burger-menu">
      <div class="inner">
        <ul>
          <li><a href="{{ url('mypage') }}">マイページ</a></li>
        {% if is_granted('ROLE_USER') %}  
          <li><a href="/logout">ログアウト</a></li>
        {% else %}
          <li><a href="{{ url('mypage_login') }}">ログイン</a></li>
        {% endif %}
        </ul>
        <ul class="m-navi">
          <li><a href="{{ url('product_list') }}?orderby={{eccube_config.eccube_product_order_newer}}">新着のお礼の品</a></li>
          <li><a href="http://13.115.133.43/about">紋別巡り</a></li>
          <li><a href="http://13.115.133.43/use">寄付の使い道</a></li>
          <li><a href="http://13.115.133.43/jigyousha">事業者の紹介</a></li>
          <li><a href="{{ url('news_index') }}">お知らせ</a></li>
        </ul>
        <ul class="s-navi">
          <li><a href="/guide">ふるさと納税の仕組みと手続き</a></li>
      　　<li><a href="/help/agreement">ご利用規約</a></li>
      　　　<li><a href="/help/tradelaw">特定商取引法の表示</a></li>
      　　<li><a href="/help/privacy">個人情報保護方針</a></li>
      　　<li><a href="/help/about">よくある質問</a></li>
      　　<li><a href="/contact">お問い合わせ</a></li>
       </ul>
      </div>
</div>