{% set NewsList = repository('Eccube\\Entity\\News').getList() %}

<div id="newslink" class="anchor"></div>
<div class="container">
<section class="info">
<h3>お知らせ</h3>
<ul class="news">
{% set break = false %}
{% for index , News in NewsList if not break  %}
<li>
{% if News.url %}
    <a href="{{ News.url }}" {% if News.link_method == '1' %}target="_blank"{% endif %} class="ec-newsRole__newsTitle">
{% else %}
    <a href="{{ url('news_detail', {'id': News.id}) }}" class="ec-newsRole__newsTitle">
{% endif %}
        <p class="date">{{ News.publish_date|date_day }}</p><p class="text">{{ News.title }}</p>
    </a>
</li>
{% if index >= 4 %}
</ul>
<a class="btn" href="{{ url('news_index') }}">一覧を見る</a>
{% set break = true %}
{% endif %}
{% endfor %}
</section>
</div>