{% if Products|length %}

<div class="container">

<section class="ranking">
<h3>人気ランキング　※要：順位値、表示件数制御（もっと見る→5〜10位を表示）</h3>
<ul class="p-box">
    
{% for Product in Products %}
<li>
    <a href="{{ url('product_detail', {'id': Product.id}) }}">
        <div class="mask">
            <div class="ranktag">無</div>
            <button class="favorite"><i class="fa-sharp fa-solid fa-heart"></i></button>
            <img class="b-pic" src="{{ asset(Product.mainFileName|no_image_product, "save_image") }}" alt="{{ Product.name }}">
            <div class="c-pic"><img src="{{ asset(Product.mainFileName|no_image_product, "save_image") }}" alt="{{ Product.name }}"></div>
            <div class="price"><p>寄付金額
            <span>{% if Product.hasProductClass %}
                    {% if Product.getPrice02Min == Product.getPrice02Max %}
                        {{ Product.getPrice02IncTaxMin|price }}
                    {% else %}
                        {{ Product.getPrice02IncTaxMin|price }} ～ {{ Product.getPrice02IncTaxMax|price }}
                    {% endif %}
                    {% else %}
                    {{ Product.getPrice02IncTaxMin|price }}
                    {% endif %}</span>円</p></div>
        </div>
        <p class="product_name">{{ Product.name }}</p>
    </a>
</li>
{% endfor %}

</ul>

<div class="ac-open">
<ul class="p-box">
    
{% for Product in Products %}
<li>
    <a href="{{ url('product_detail', {'id': Product.id}) }}">
        <div class="mask">
            <div class="ranktag">無</div>
            <button class="favorite"><i class="fa-sharp fa-solid fa-heart"></i></button>
            <img class="b-pic" src="{{ asset(Product.mainFileName|no_image_product, "save_image") }}" alt="{{ Product.name }}">
            <div class="c-pic"><img src="{{ asset(Product.mainFileName|no_image_product, "save_image") }}" alt="{{ Product.name }}"></div>
            <div class="price"><p>寄付金額
            <span>{% if Product.hasProductClass %}
                    {% if Product.getPrice02Min == Product.getPrice02Max %}
                        {{ Product.getPrice02IncTaxMin|price }}
                    {% else %}
                        {{ Product.getPrice02IncTaxMin|price }} ～ {{ Product.getPrice02IncTaxMax|price }}
                    {% endif %}
                    {% else %}
                    {{ Product.getPrice02IncTaxMin|price }}
                    {% endif %}</span>円</p></div>
        </div>
        <p class="product_name">{{ Product.name }}</p>
    </a>
</li>
{% endfor %}
</ul>
</div>
<a class="btn ac-btn"><span>もっと見る</span></a>    
</section>

</div>

{% endif %}