</header>

<main id="top">
<div class="pt_plus"></div>

<div class="container-fluid gallery">
 <div class="row">
  <div class="swiper sw_gallery">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><a href=""><img src="{{ asset('assets/img/topslide1.jpg','user_data') }}" loading="lazy"></a></div>
        <div class="swiper-slide"><a href=""><img src="{{ asset('assets/img/topslide2.jpg','user_data') }}" loading="lazy"></a></div>
        <div class="swiper-slide"><a href=""><img src="{{ asset('assets/img/topslide3.jpg','user_data') }}" loading="lazy"></a></div>
        <div class="swiper-slide"><a href=""><img src="{{ asset('assets/img/topslide4.jpg','user_data') }}" loading="lazy"></a></div>
        <div class="swiper-slide"><a href=""><img src="{{ asset('assets/img/topslide5.jpg','user_data') }}" loading="lazy"></a></div>
        <div class="swiper-slide"><a href=""><img src="{{ asset('assets/img/topslide6.jpg','user_data') }}" loading="lazy"></a></div>
        <div class="swiper-slide"><a href=""><img src="{{ asset('assets/img/topslide7.jpg','user_data') }}" loading="lazy"></a></div>
        <div class="swiper-slide"><a href=""><img src="{{ asset('assets/img/topslide8.jpg','user_data') }}" loading="lazy"></a></div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
  </div>
 </div>
</div>