{% extends 'default_frame.twig' %}

{% set body_class = 'mail_magazine_withdraw' %}

{% form_theme form 'Form/form_div_layout.twig' %}

{% block main %}
<main id="about">
<div class="container">


    <div class="ec-registerRole">
        <div class="ec-pageHeader">
            <h1>{{ 'mail_magazine_member.withdraw.title'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <form method="post" action="{{ url('mail_magazine_withdraw') }}" novalidate class="h-adr">
                    {{ form_widget(form._token) }}
                    <div class="ec-borderedDefs">
                        <dl>
                            <dt>
                                {{ form_label(form.email, 'common.mail_address', { 'label_attr': { 'class': 'ec-label' }}) }}
                            </dt>
                            <dd>
                                <div class="ec-input{{ has_errors(form.email) ? ' error' }}">
                                    {{ form_widget(form.email, { 'attr': { 'placeholder': 'common.mail_address_sample' }}) }}
                                    {{ form_errors(form.email) }}
                                </div>
                            </dd>
                        </dl>
                    </div>
                    <div class="ec-registerRole__actions">
                        <div class="ec-off4Grid">
                            <div class="ec-off4Grid__cell">
                                <button class="ec-blockBtn--action" type="submit" name="mode" value="confirm">{{ '確認する'|trans }}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>
</main>
{% endblock %}